
<!-- header -->
<%- include('../includes/adminSide/header') %>
<!-- end of header -->

<link rel="stylesheet" href="/adminSide/css/adminDashboard.css" />
<link rel="stylesheet" href="/public/adminSide/sass/layout/_layout.scss" />

<!-- CONTENT -->
<section id="content">
  <!-- MAIN -->
  <main>
    

    <div class="head-title">
      <div class="left">
        <h1>Dashboard</h1>
        <ul class="breadcrumb">
          <li>
            <a href="#">Dashboard</a>
          </li>
          <li><i class="bx bx-chevron-right"></i></li>
          <li>
            <a class="active" href="#">Home</a>
          </li>
        </ul>
      </div>
     
    </div>

    <!-- Modal -->
  
    <ul class="box-info">
      <li>
        <i class="bx bxs-calendar-check"></i>
        <span class="text">
          <h3 class="counter">
            <%= details?.newOrders || 0 %>
          </h3>
          <p>New Order</p>
        </span>
      </li>
      <li>
        <i class="bx bxs-group"></i>
        <span class="text">
          <h3 class="counter">
            <%= details?.userCount || 0 %>
          </h3>
          <p>Users</p>
        </span>
      </li>
      <li>
        <i class="bx bxs-dollar-circle"></i>
        <span class="text">
          <h3>
            $<span class="counter"><%= details?.tSalary || 0 %></span>
          </h3>
          <p>Total Sales</p>
        </span>
      </li>
    </ul>

    <div class="mb-2">
      <div class="custom-select ms-auto" style="width: 200px">
        <select id="filterSales">
          <option value="Monthly">Monthly</option>
          <option value="Yearly">Yearly</option>
          <option value="Weekly">Weekly</option>
          <option value="Daily">Daily</option>
        </select>
      </div>
    </div>

    <div style="max-width: 600px; margin: 0 auto;"> 
      <canvas id="myChart" style="width: 100%; height: 400px;"></canvas> 
    </div>

  
    
      


  </main>
  <!-- MAIN -->
</section>
<!-- CONTENT -->

<!-- footer -->
<%- include('../includes/adminSide/footer') %>
<script>
  document.getElementById("pdfButton").addEventListener("click", function () {
            let doc = new window.jspdf.jsPDF();
            let pageCenter = doc.internal.pageSize.getWidth() / 2;
            // console.log(reportType)
            doc.setFontSize(25);
            doc.text("StepEX", pageCenter, 10, { align: 'center' });
            doc.setFontSize(15);
            doc.text("Sales Report", pageCenter, 20, { align: 'center' });

            let table = document.querySelector(".table");

            doc.autoTable({ html: table, startY: 35 });

            doc.save("sales_report.pdf");
        });
</script>
<script src="/adminSide/js/adminDashboard.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.25/jspdf.plugin.autotable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.3/xlsx.full.min.js"></script>

<!-- end of footer -->
