    <!-- header -->
    <%- include('../includes/adminSide/header') %>
    <!-- end of header -->

    <!-- My CSS -->
    <link rel="stylesheet" href="/adminSide/css/adminAddReferralOffer.css" />

    
  
    <!-- CONTENT -->
    <section id="content" style="padding-left: 100px;">

      <!-- MAIN -->
      <main>
        <div class="head-title">
          <div class="left">
            <h1>Add Referral Offer</h1>
            <ul class="breadcrumb">
              <li>
                <a href="/adminHome">Dashboard</a>
              </li>
              <li><i class="bx bx-chevron-right"></i></li>
              <li>
                <a href="/adminAddReferralOffer">Referral Offer Management</a>
              </li>
              <li><i class="bx bx-chevron-right"></i></li>
              <li>
                <a class="active" href="/adminAddReferralOffer">Add Referral Offer</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="manageOptions">
          <a href="/adminReferralOfferManagement">
            <button>Go Back</button>
          </a>
        </div>

        <div class="table-data justify-content-center">
          <div id="addProduct" class="order">
            <form class="addProductForm" action="/addReferralOffer" method="post">
              <h2 class="fs-3 text-black fw-bold text-center">Add Referral Offer</h2>
              <!-- <div class="d-flex align-items-center formRow w-100">
                <div class="w-100 <%#= errMesg?.dErr?'err':'' %>">
                  <label for="name" class="d-block fs-6">Name</label>
                  <input class="name" type="text" name="name" value="<%#= sDetails?.name?sDetails.name:'' %>">
                </div>
              </div> -->
                <div class="d-flex align-items-center formRow">
                    <div class="<%= errMesg?.referralRewards?'err':'' %>">
                        <label for="name" class="d-block fs-6">Referral Amount</label>
                        <input class="name" type="number" name="referralRewards" value="<%= sDetails?.referralRewards?sDetails.referralRewards:'' %>">
                        <% if (errMesg?.referralRewards) { %>
                          <p class="err p-0 d-block text-danger"><%= errMesg.referralRewards %></p>
                        <% } %>
                    </div>
                </div>
                <div class="d-flex align-items-center formRow w-100">
                  <div class="w-100 <%= errMesg?.referredUserRewards?'err':'' %>">
                    <label for="name" class="d-block fs-6">Referred Amount</label>
                    <input class="name" type="number" name="referredUserRewards" value="<%= sDetails?.referredUserRewards?sDetails.referredUserRewards:'' %>" >
                    <% if (errMesg?.referredUserRewards) { %>
                      <p class="err p-0 d-block text-danger"><%= errMesg.referredUserRewards %></p>
                    <% } %>
                  </div>
                </div>
                <div class="d-flex align-items-center formRow w-100">
                  <div class="w-100 <%= errMesg?.discription?'err':'' %>">
                    <label for="name" class="d-block fs-6">Description</label>
                    <textarea name="discription" id="description" class="w-100"><%= sDetails?.discription?sDetails.discription:'' %></textarea>
                    <% if (errMesg?.discription) { %>
                      <p class="err p-0 d-block text-danger"><%= errMesg.discription %></p>
                    <% } %>
                  </div>
                </div>
                <div class="d-flex align-items-center formRow w-100">
                  <div class="w-100 <%= errMesg?.expiry?'err':'' %>">
                    <label for="name" class="d-block fs-6">Expiry</label>
                    <input class="name" name="expiry" type="datetime-local" value="<%= sDetails?.expiry?sDetails.expiry:'' %>" >
                    <% if (errMesg?.expiry) { %>
                      <p class="err p-0 d-block text-danger"><%= errMesg.expiry %></p>
                    <% } %>
                  </div>
                </div>

                <div class="d-flex justify-content-center">
                    <button type="submit" class="addBtn">Add Referral Offer</button>
                </div>
            </form>
          </div>
        </div>
      </main>
      <!-- MAIN -->
    </section>
    <!-- CONTENT -->

    <script src="/adminSide/js/adminAddReferralOffer.js"></script>

    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/23d1247997.js"
      crossorigin="anonymous"
    ></script>
    <!-- end of fontawesome -->
    <!-- Bootstrap script file -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <!--end of Bootstrap script file -->
  </body>
</html>
