   <!-- header -->
   <%- include('../includes/userSide/header') %>
   <!-- end of header -->
   <% if (toast) { %>
    <div class="toast-message" id="toast-message">
      <span class="toast-icon">&#10003;</span>
      <%= toast %>
    </div>
  <% } %>

  
  
  
   



    <!-- banner page -->

    <div class="home-slides owl-carousel owl-theme">
        <div class="main-banner banner-bg1">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="main-banner-content">
                            <span class="sub-title">Limited Time Offer!</span>
                            <h1>Winter-Spring!</h1>
                            <p>Take 20% Off ‘Sale Must-Haves'</p>
                            <div class="btn-box">
                                <a href="/category?genderCat=Women" class="default-btn">Shop Women's</a>
                                <a href="/category?genderCat=Men" class="optional-btn">Shop Men's</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-banner banner-bg2">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="main-banner-content">
                            <span class="sub-title">Exclusive Offer!</span>
                            <h1>Spring-Show!</h1>
                            <p>Leap year offer ‘Sale Must-Haves'</p>
                            <div class="btn-box">
                                <a href="userSingleCategoryProducts" class="default-btn">Shop Women's</a>
                                <a href="userSingleCategoryProducts" class="optional-btn">Shop Men's</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-banner banner-bg3">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="main-banner-content">
                            <span class="sub-title">Buy Now From Threadpool!</span>
                            <h1>New Season Canvas</h1>
                            <p>Take 20% Off ‘Sale Must-Haves'</p>
                            <div class="btn-box">
                                <a href="userSingleCategoryProductsl" class="default-btn">Shop Women's</a>
                                <a href="userSingleCategoryProducts" class="optional-btn">Shop Men's</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
   <!-- featured Products -->
   <%- include('../includes/userSide/featuredProducts') %>
   <!-- end of featured Products -->
   
   
   <!-- recent Products -->
   <%- include('../includes/userSide/newlyLaunchedProducts') %>
   <!-- end of recent Products -->
   
   
    <!-- Offer Banner -->

    <section class="offer-area bg-image1 ptb-100 jarallax" data-jarallax="{&quot;speed&quot;: 0.3}">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-5 col-md-6">
                    <div class="offer-content">
                        <span class="sub-title">Limited Time Offer!</span>
                        <h2>-40% OFF</h2>
                        <p>Get The Best Deals Now</p>
                        <a href="products-one-row.html" class="default-btn">Discover Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


   


   
   


   <!-- footer -->
    <%- include('../includes/userSide/footer') %>
    <!-- end of footer -->



    <script>
        document.addEventListener('DOMContentLoaded', function() {
          const toastMessage = document.getElementById('toast-message');
          if (toastMessage) {
            setTimeout(() => {
              toastMessage.style.display = 'none';
            }, 2000); // Adjust the time (3000ms = 3s) as needed
          }
        });
      </script>
      
      
      <style>
      .toast-message {
  position: fixed;
  top: 50px;
  right: 200px;
  background-color: #f53f85; /* White background */
  color: white; /* Green text color */
  padding: 15px;
  border-radius: 5px;
  z-index: 1000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Optional: add shadow for better visibility */
}

.toast-icon {
  margin-right: 20px;
}

      </style>


